<ul class="nav nav-pills">
  <li role="presentation" ><a href="/">Home</a></li>
  <li role="presentation"><a href="users">Users</a></li>
  <li role="presentation" class="active"><a href="artists">Artisants</a></li>
</ul>
<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table>
 <!--  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Address</th>
      <th>Email</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> -->
    <% @artists.each do |artist| %>
      <!-- <tr>
        <td><%= artist.name %></td>
        <td><%= artist.surname %></td>
        <td><%= artist.address %></td>
        <td><%= artist.email %></td>
        <td><%= artist.category %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div class="card">
            <h3 class="card-header"><%= artist.name %> <%=artist.surname %></h3>
            <div class="card-block">
                <h4 class="card-title"><%= artist.category%></h4>
                <p class="card-text"><%= artist.address %></p>
                <p class="card-text"><%= artist.email %></p>
                <a href="#" class="btn btn-primary">Learn more about him</a>
                <div class= "scaffold bouton">
                  <a><%= link_to 'Show', artist %></a>
                  <a><%= link_to 'Edit', edit_artist_path(artist) %></a>
                  <a><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></a>
                </div>
            </div>
          </div>
      </div>
    </div>
    <% end %>
  <!-- </tbody> -->
<!-- </table> -->

<br>

<%= link_to 'New Artist', new_artist_path %>
