<!-- <ul class="nav nav-pills">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation" class="active"><a href="users">Users</a></li>
  <li role="presentation"><a href="artists">Artisans</a></li>
</ul>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
    </div>
  </li> -->

<ul class="nav nav-pills">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation" class="active"><a href="users">Users</a></li>
  <li role="presentation"><a href="artists">Artisans</a></li>
  <li role="presentation" ><a href="user(@user)">profil</a></li>
  <li role="presentation" ><a href="artists">Transaction</a></li>
</ul>

<p id="notice"><%= notice %></p>
<h1>Users</h1>

    <% @users.each do |user| %>
  <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div class="card card-artist">
            <h3 class="card-header"><%= user.name %> <%=user.surname %></h3>
            <div class="card-block">
                <h4 class="card-title"><%= user.address%></h4>
                <p class="card-text"><%= user.email %></p>
                <div class= "scaffold bouton">
                  <a><%= link_to 'Show', user %></a>
                  <a><%= link_to 'Edit', edit_user_path(user) %></a>
                  <a><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></a>
                </div>
            </div>
          </div>
      </div>
    </div>
<%end%>

<br>

<%= link_to 'New User', new_user_path %>
